<div class="page-header">
  <% if new_object_path %>
      <div class="pull-right">
        <%= link_to ('New ' + title.gsub(/s$/, '')), new_object_path, :class => 'btn btn-primary' %>
      </div>
  <% end %>
  <h2><%= title %></h2>

  <div class="clearfix"></div>
</div>