<%%= form_for(@<%= singular_table_name %>, html: {:class => "form-horizontal", :role => 'form'}) do |f| %>
  <%%= render 'shared/form_error_message', object: @<%= singular_table_name %> %>

  <%- attributes.each do |attribute| -%>
    <div class="form-group">
      <%%= f.label :<%= attribute.name %>, class: 'control-label col-sm-2' %>
      <div class="col-sm-4">
        <%%= f.text_field :<%= attribute.name %>, class: 'form-control' %>
      </div>
    </div>
  <%- end -%>

  <div class="form-group">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-4">
      <%%= render 'shared/form_action_bar', f: f %>
    </div>
  </div>
<%% end %>

