<div class="container">
  <%%= render 'shared/new_action_bar', title: 'New <%= singular_table_name.titleize %>',
        objects_path: <%= index_helper %>_path %>

  <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>