<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
      <% object.errors.full_messages.each do |msg| %>
        <p>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= msg %>
          </p>
      <% end %>
  </div>
<% end %>