<div class="container">
  <h2>New Window Example</h2>
  <%= link_to 'New Window Button', user_interface_example_opened_new_window_path, :class => 'btn btn-info .new_window_button', :target => '_blank' %>
</div>

