<div class="container">
  <h2>Opened Window Example</h2>
  <%= link_to 'Close Window Button', '#', :class => 'btn btn-info .close_window_button', :onclick => "window.close(); return false;" %>
</div>

